
.news-height {
   height: 78% !important;
}


/* --- <ul> --- */
.news {
   overflow-y: scroll;
   align-content: flex-start;

   height: 57%;
   width: 52%;
   margin-top: 10px;
   padding-top: 30px;

   background: white;
   scrollbar-width: thin;
}


/* --- <li> --- */
.post {
   justify-content: space-between;
   text-align: left;
   margin: 30px;
   margin-top: 0px;
   height: auto;
   border-radius: 20px;
   width: 100%;
}

.post,
.frame {
   border: double 3px blue;
}

.frame {
   margin: 15px;
   padding: 8px;
   border-radius: 10px;
   font-size: 110%;
   background: white;
}


/* --- Title / TimeStamp --- */
.post-specs {
   width: 65%;
}

.post-title {
   width: 100%;
   font-size: 130%;
   margin-bottom: 0px;
}

.post-time-stamp {
   width: 100%;
   margin-bottom: 0px;
}


/* =========== Temporary ========== */
.post-user-caption {
   text-align: center;
   width: 20%;
   padding: 35px;
   font-size: 130%;
   margin-bottom: 0px;
}
/* =========== Temporary ========== */


.post-content {
   padding: 30px;
   white-space: pre-wrap;
   font-size: 120%;
   width: 100%;
}